.MainContainer{
    background-color: #84A59D;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .BodyParent{
        height: 83%;
        display: flex;
        justify-content: space-around;
    }
    
}
